notifications:
  # Available events: AgentInstalled, EstimationDone, PostLaunchScriptsUpdated, ReplicationDone, TestTargetsReady, CutoverTargetsReady

  # Enables notifications without the need to pass an explicit argument to all commands
  notify_by_default: True
  # Name of the notifiers to enable. Can be "teams", "smtp", "null"
  enabled_notifiers: []

  # Teams notifier options
  # No notification will be sent if "teams" is not in "enabled_notifiers" list
  teams:
    # If this list is not empty, only the events in this list will be sent.
    # Careful: if events are also in blacklist, they will NOT be sent.
    event_whitelist: []
    # All events mentioned in this list will not be sent.
    event_blacklist: [ ]
    # List of URLs where to publish notifications
    webhook_urls:
      -

  # SMTP notifier options
  # No notification will be sent if "smtp" is not in "enabled_notifiers" list
  smtp:
    # If this list is not empty, only the events in this list will be sent.
    # Careful: if events are also in blacklist, they will NOT be sent.
    event_whitelist: []
    # All events mentioned in this list will not be sent.
    event_blacklist: [ ]
    # Whether or not the SMTP is public or private. Default: private (meaning needs authentication)
    # MF_NOTIFIER_SMTP_USERNAME and MF_NOTIFIER_SMTP_PASSWORD may be read to get credentials
    needs_authentication: True
    # The host of the SMTP. If not specified, will read MF_NOTIFIER_SMTP_HOST.
    host: 127.0.0.1
    # The port to use for SMTP. If not specified, will read MF_NOTIFIER_SMTP_PORT.
    port: 465
    # Whether or not to use TLS. StartTLS is equivalent to cleartext and thus not supported.
    tls: True
    # List of destination emails
    destination_emails:
      -

# Settings for estimations
estimations:
  # Hour of the day when people start to work
  work_hours_start: 8
  # Hour of the day when people leave work
  work_hours_end: 17
  # Hour of the day when people go on lunch break
  work_hours_pause_start: 12
  # Hour of the day when people go back from from lunch break
  work_hours_pause_end: 13
  # Amount of time require to perform tests on a workload
  minimal_test_duration: 4
  # Estimation of the amount of time in seconds before replication starts
  warmup-time-before-replication: 600
  # Estimation of the amount of time in seconds to complete replication after data transfer ends
